<div class="container">
  <h1>{{ name }}</h1>
  <button type="button" class="btn btn-success" (click)="updateName()">
    Update name
  </button>
  <h1>Counter is: {{ counter }}</h1>
  <br />
  <button type="button" class="btn btn-warning" (click)="increment()">
    Increment Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-danger" (click)="decrement()">
    Decrement Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-info" (click)="doubleCounter()">
    Double Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-success" (click)="reduceCounter()">
    Reduce Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="resetCounter()">
    Reset Counter
  </button>
  &nbsp;
  <br />
  <br />
  <button (click)="fetchData()">Get Data</button>
  <button (click)="addData()">Post Data</button>
  <button (click)="updateData()">Put Data</button>
  <button (click)="removeData()">Delete Data</button>
</div>
