<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name" style="color: white">Name:</label>
      <input id="name" formControlName="name" type="text" />
      <div *ngIf="name?.invalid && name?.touched">
        <small *ngIf="name?.errors?.['required']">Name is required.</small>
        <small *ngIf="name?.errors?.['maxlength']"
          >Name cannot be longer than 20 characters.</small
        >
        <small *ngIf="name?.errors?.['pattern']"
          >Name can only contain letters and spaces.</small
        >
      </div>
    </div>

    <div>
      <label for="age" style="color: white">Age:</label>
      <input id="age" formControlName="age" type="number" />
      <div *ngIf="age?.invalid && age?.touched">
        <small *ngIf="age?.errors?.['required']">Age is required.</small>
        <small *ngIf="age?.errors?.['pattern']">Age must be a number.</small>
      </div>
    </div>

    <button
      *ngIf="showSubmit"
      class="btn btn-success"
      type="submit"
      [disabled]="userForm.invalid"
    >
      Submit
    </button>
    <button
      *ngIf="!showSubmit"
      class="btn btn-success"
      (click)="onEdit()"
      [disabled]="userForm.invalid"
    >
      Update
    </button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="edit(person)">
            Edit
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-danger"
            (click)="delete(person.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br /><br /><br />
  <h1>{{ myName }}</h1>
  <button type="button" class="btn btn-success" (click)="updateName()">
    Update name
  </button>
  <h1>Counter is: {{ counter }}</h1>
  <br />
  <button type="button" class="btn btn-warning" (click)="increment()">
    Increment Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-danger" (click)="decrement()">
    Decrement Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-info" (click)="doubleCounter()">
    Double Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-success" (click)="reduceCounter()">
    Reduce Counter
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="resetCounter()">
    Reset Counter
  </button>
  <br /><br /><br />
  <app-code-display [code]="exampleCode" [language]="'javascript'">
  </app-code-display>

  <br /><br /><br />
</div>
